<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />

  <connectionStrings>
      <!--旧的流程-->
      <!--<add name="WorkFlowConnString" connectionString="oracle:data source=Test;user id=smtflow;password=smtflow;"/>-->
      <!--新的流程-->
      <!--<add name="WorkFlowConnString" connectionString="oracle:data source=SMTSAASDB209 ;user id=smtwf;password=smtwf;"/>-->
      <add name="WorkFlowConnString" providerName="System.Data.OracleClient" connectionString="Data Source=smtsaasdb209;user id=smtwf;password=smtwf;"/>
      <!--开发平台-->
      <!--<add name="WorkFlowConnString" providerName="System.Data.OracleClient" connectionString="Data Source=smtsaasdb209;user id=smtwf;password=smtwf;"/>-->
      
  </connectionStrings>


  <system.web>
    <!--传输数据量大的时候要设置这里<102400KB>-->
    <httpRuntime maxRequestLength="2097151"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBinding">
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647">
          </httpTransport>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding
                name="basicBinding"
                maxBufferSize="2147483647"
                maxBufferPoolSize="2147483647"
                maxReceivedMessageSize="2147483647"
                messageEncoding="Text" transferMode="Buffered" sendTimeout="00:10:00" >
          <!--如果使用Silverlight客户端，部分属性如ReaderQuotas并不被支持。-->
          <readerQuotas
              maxDepth="64"
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="2147483647"
              maxNameTableCharCount="2147483647" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SampleBehavior" name="SMT.Workflow.Platform.Services.WFPlatformServices">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowDefine" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_ICuostomFlowsDefine" contract="SMT.Workflow.Platform.Services.PlatformInterface.ICuostomFlowsDefine" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IFlowEvent" contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowEvent" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IFlowCategory" contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowCategory" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IEngine" contract="SMT.Workflow.Platform.Services.PlatformInterface.IEngine" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IFlowXmlDefine" contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowXmlDefine" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IFlowTrigger" contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowTrigger" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_ITriggerDefine" contract="SMT.Workflow.Platform.Services.PlatformInterface.ITriggerDefine" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IFlow_ModelDefine" contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlow_ModelDefine" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IMessageBodyDefine" contract="SMT.Workflow.Platform.Services.PlatformInterface.IMessageBodyDefine" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IDoTaskRule" contract="SMT.Workflow.Platform.Services.PlatformInterface.IDoTaskRule" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_ITimingTrigger" contract="SMT.Workflow.Platform.Services.PlatformInterface.ITimingTrigger" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="BasicHttpBinding_IDefaultMessage" contract="SMT.Workflow.Platform.Services.PlatformInterface.IDefaultMessage" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleBehavior">
          <!--httpGetEnabled - 使用get方式提供服务-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>

        </behavior>


        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>

          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SampleBehavior">

          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
    <system.net>
        <settings>
            <servicePointManager expect100Continue="false" />
        </settings>
    </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>




